* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

header {
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}

.menu-left {
  display: flex;
  align-items: center;
}

.menu-left img {
  margin: 0px 10px;
  cursor: pointer;
}

.search {
  display: flex;
  align-items: center;
}

.search img {
  margin: 0px 20px;
  cursor: pointer;
}

.search input {
  width: 30vw;
  padding: 5.2px 10px;
  border-radius: 0px;
  border: 1px solid gray;
}

.search button {
  background-color: white;
  padding: 5.2px 10px;
  display: inline-block;
  text-decoration: none;
  border: none;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
  border-right: 1px solid gray;
  cursor: pointer;
}

.icons {
  display: flex;
  align-items: center;
  padding: 0px 10px;
}

.icons img {
  margin: 0px 10px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

main {
  background-color: rgb(240, 240, 240);
  height: 100%;
  display: flex;
}

.content {
  flex: 1.75;
}

.video {
  width: 90%;
  margin: 4rem auto;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.content iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.about-video {
  width: 90%;
  font-size: 1.2rem;
  margin: auto;
}

.video-stats {
  display: flex;
  color: rgb(95, 95, 95);
  padding: 1rem 0rem;
}

.video-stats p {
  padding-right: 1rem;
}

.divider {
  width: 100%;
  height: 0.1rem;
  background-color: rgb(134, 134, 134);
}

.description-section {
  padding: 0.5rem 0rem;
}

.description {
  padding-bottom: 1rem;
  padding-left: 7.7rem;
  padding-top: 2rem;
}

.video-owner-card {
  display: flex;
}

.owner-logo {
  width: 5rem;
  height: 5rem;
}

.owner-info {
  padding-left: 3rem;
  padding-top: 1rem;
}

.owner-subscriber-count {
  color: rgb(95, 95, 95);
  font-size: 0.9rem;
}

.comments {
  width: 90%;
  font-size: 1.2rem;
  margin: auto;
  padding: 1rem 0rem;
}

.comment-card {
  display: flex;
  padding-top: 2rem;
}

.comment-profile-pic {
  width: 5rem;
  height: 5rem;
}

.comment-info {
  padding-left: 2.9rem;
  padding-top: 1rem;
}

.comment-username {
  padding-bottom: 2rem;
  font-size: 1.1rem;
}

aside {
  background-color: rgb(240, 240, 240);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  max-width: 50rem;
}

.video-card{
  display: flex;
  width: 100%;
  padding: 0.5rem;
}

.video-card a{
  padding-right: 1rem;
}

.thumbnail-container{
  width: 16.8rem;
}

.card-content{
  line-height: 1rem;
}

.upcoming-title{
  font-size: 1.8rem;
  line-height: 2rem;
}

.upcoming-owner-title,
.upcoming-about{
  padding: 0.5rem 0rem;
  color: rgb(95, 95, 95);
}